<?xml version="1.0" encoding="utf-8" ?>
<WebPartExtend>
  <!--MO转委外比例分配 -->
  <ExtendedPart parentPartFullName="UFIDA.U9.MFG.MO.MOToPOModel.MOToPOUIFormWebPart"
  extendedPartFullName="Auctus.MOToPO.UIPlugin.CalWPOQuotaUIPlugin"
  extendedPartAssemblyName="Auctus.MOToPO.UIPlugin.dll">
  </ExtendedPart>
  
  <!--<ExtendedPart parentPartFullName="UFIDA.U9.MFG.MO.DiscreteMOUIModel.DiscreteMOMainUIFormWebPart"
  extendedPartFullName="Auctus.MOToPO.UIPlugin.CalWPOQuotaUIPlugin"
  extendedPartAssemblyName="Auctus.MOToPO.UIPlugin.dll">
  </ExtendedPart>-->

</WebPartExtend>
