<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_UFIDA.U9.ISV.MO.ICreateCompRptSrv" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://au-se-u9test:90/U9/Services/UFIDA.U9.ISV.MO.ICreateCompRptSrv.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_UFIDA.U9.ISV.MO.ICreateCompRptSrv"
        contract="UFIDAU9ISVMOICreateCompRptSrv" name="BasicHttpBinding_UFIDA.U9.ISV.MO.ICreateCompRptSrv" />
    </client>
  </system.serviceModel>
</configuration>