<?xml version="1.0" encoding="utf-8" ?>
<WebPartExtend>
  <!--杂发单 -->
  <ExtendedPart parentPartFullName="UFIDA.U9.SCM.INV.MiscShipUIModel.MiscShipUIMainFormWebPart"
  extendedPartFullName="Auctus.MiscShip.UIPlugin.MiscShipUIPlugin"
  extendedPartAssemblyName="Auctus.MiscShip.UIPlugin.dll">
  </ExtendedPart>

</WebPartExtend>
