<?xml version="1.0" encoding="utf-8" ?>
<WebPartExtend>
  <!--请购单试算按钮 -->
  <ExtendedPart parentPartFullName="UFIDA.U9.SCM.PM.PRToPOUIModel.TurnPOMenuUIWebPart"
  extendedPartFullName="Auctus.PR.UIPlugin.TryCalcUIPlugin"
  extendedPartAssemblyName="Auctus.PR.UIPlugin.dll">
  </ExtendedPart>

  <!--请购单列表试算按钮 -->
  <ExtendedPart parentPartFullName="UFIDA.U9.SCM.PM.ListPRToPOUIModel.ListToPOUIFormWebPart"
  extendedPartFullName="Auctus.PR.UIPlugin.PRListTryCalcUIPlugin"
  extendedPartAssemblyName="Auctus.PR.UIPlugin.dll">
  </ExtendedPart>

  <!--请购单试算结果 -->
  <ExtendedPart parentPartFullName="UFIDA.U9.SCM.PM.PRToPOUIModel.ToPoTryCalcUIFormWebPart"
  extendedPartFullName="Auctus.PR.UIPlugin.ToPOTryCalUIPlugin"
  extendedPartAssemblyName="Auctus.PR.UIPlugin.dll">
  </ExtendedPart>

  <!--请购单列表试算结果 -->
  <ExtendedPart parentPartFullName="UFIDA.U9.SCM.PM.ListPRToPOUIModel.ToPoTryCalcUIForListFormWebPart"
  extendedPartFullName="Auctus.PR.UIPlugin.ToPoTryCalcForList"
  extendedPartAssemblyName="Auctus.PR.UIPlugin.dll">
  </ExtendedPart>

</WebPartExtend>
