<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WorkflowServiceToOtherSystemHttpBinding" />
                <binding name="WorkflowServiceToOtherSystemHttpBinding1" />
                <binding name="PRWorkflowHttpBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.20.18/services/WorkflowServiceToOtherSystem"
                binding="basicHttpBinding" bindingConfiguration="WorkflowServiceToOtherSystemHttpBinding"
                contract="OAWorkflowService.WorkflowServiceToOtherSystemPortType"
                name="WorkflowServiceToOtherSystemHttpPort" />
            <endpoint address="http://192.168.20.32/services/WorkflowServiceToOtherSystem"
                binding="basicHttpBinding" bindingConfiguration="WorkflowServiceToOtherSystemHttpBinding1"
                contract="OAWorkflowService4Test.WorkflowServiceToOtherSystemPortType"
                name="WorkflowServiceToOtherSystemHttpPort1" />
            <endpoint address="http://192.168.20.32/services/PRWorkflow"
                binding="basicHttpBinding" bindingConfiguration="PRWorkflowHttpBinding"
                contract="WorkFlowCheckService4Test.PRWorkflowPortType" name="PRWorkflowHttpPort" />
        </client>
    </system.serviceModel>
</configuration>