<?xml version="1.0" encoding="utf-8" ?>
<WebPartExtend>
  <!--MRP重排建议页面创建变更单按钮 -->
  <ExtendedPart parentPartFullName="UFIDA.U9.MFG.MRP.ReScheduleExecuteBQryUIModel.ReScheduleExecuteBQryUIFormWebPart"
  extendedPartFullName="Auctus.Reschedule.UIPlugin.RescheduleUIPlugin"
  extendedPartAssemblyName="Auctus.Reschedule.UIPlugin.dll">
  </ExtendedPart>

</WebPartExtend>
