<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WorkflowServiceToOtherSystemHttpBinding" />
                <binding name="WorkflowServiceToOtherSystemHttpBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.20.32/services/WorkflowServiceToOtherSystem"
                binding="basicHttpBinding" bindingConfiguration="WorkflowServiceToOtherSystemHttpBinding"
                contract="OAWorkflowService4Test.WorkflowServiceToOtherSystemPortType"
                name="WorkflowServiceToOtherSystemHttpPort" />
            <endpoint address="http://192.168.20.18/services/WorkflowServiceToOtherSystem"
                binding="basicHttpBinding" bindingConfiguration="WorkflowServiceToOtherSystemHttpBinding1"
                contract="OAWorkflowService.WorkflowServiceToOtherSystemPortType"
                name="WorkflowServiceToOtherSystemHttpPort1" />
        </client>
    </system.serviceModel>
</configuration>