<?xml version="1.0" encoding="utf-8" ?>
<WebPartExtend>
  <!--MRP重排建议页面创建变更单按钮 -->
  <ExtendedPart parentPartFullName="UFIDA.U9.MFG.MRP.ReScheduleExecuteBQryUIModel.ReScheduleExecuteBQryUIFormWebPart"
  extendedPartFullName="Auctus.CustomUI.RescheduleUIPlugin"
  extendedPartAssemblyName="Auctus.CustomUI.dll">
  </ExtendedPart>

  <!--付款单 -->
  <ExtendedPart parentPartFullName="UFIDA.U9.FI.AP.Payment.PayBillUIModel.PayBillMianUIFormWebPart"
  extendedPartFullName="Auctus.CustomUI.PayBillHeadUI"
  extendedPartAssemblyName="Auctus.CustomUI.dll">
  </ExtendedPart>

  <!--生产订单 -->
  <ExtendedPart parentPartFullName="UFIDA.U9.MFG.MO.DiscreteMOUIModel.DiscreteMOMainUIFormWebPart"
  extendedPartFullName="Auctus.CustomUI.MOUI"
  extendedPartAssemblyName="Auctus.CustomUI.dll">
  </ExtendedPart>

  <!--收货单 -->
  <ExtendedPart
   parentPartFullName="UFIDA.U9.SCM.PM.ReceivementUIModel.ReceivementMainUIFormWebPart"
   extendedPartFullName="Auctus.CustomUI.RcvUI"
   extendedPartAssemblyName="Auctus.CustomUI.dll">
  </ExtendedPart>

  <!--生产订单变更单-->
  <ExtendedPart
 parentPartFullName="UFIDA.U9.MFG.MO.MOModifyUIModel.MOModifyUIMainWebPart"
 extendedPartFullName="Auctus.CustomUI.MOModifyUI"
 extendedPartAssemblyName="Auctus.CustomUI.dll">
  </ExtendedPart>

  <!--注销姜杜收货单-->
  <!--
  <ExtendedPart
   parentPartFullName="UFIDA.U9.SCM.PM.ReceivementUIModel.ReceivementMainUIFormWebPart"
 extendedPartFullName="UFIDA.U9.SZCust.LT.UI.PlugIn.RCVUIPlugIn"
 extendedPartAssemblyName="UFIDA.U9.SZCust.LT.UI.PlugIn.dll">
  </ExtendedPart>-->
  <!--生产领料-->
  <ExtendedPart
 parentPartFullName="UFIDA.U9.MO.IssueTXN.IssueTXNUIModel.IssueTXNMainUIFormWebPart"
 extendedPartFullName="Auctus.CustomUI.MOIssueUI"
 extendedPartAssemblyName="Auctus.CustomUI.dll">
  </ExtendedPart>
  <!--生产退料-->
  <ExtendedPart
 parentPartFullName="UFIDA.U9.MFG.MO.IssueTXN.RecedeTXNUIModel.RecedeTXNMainUIFormWebPart"
 extendedPartFullName="Auctus.CustomUI.MOIssueUI"
 extendedPartAssemblyName="Auctus.CustomUI.dll">
  </ExtendedPart>

  <!--完工报告-->
  <ExtendedPart
 parentPartFullName="UFIDA.U9.MFG.MO.CompleteRptUIModel.CompleteRptMainUIFormWebPart"
 extendedPartFullName="Auctus.CustomUI.CompleteRptUI"
 extendedPartAssemblyName="Auctus.CustomUI.dll">
  </ExtendedPart>

  <!--开工、返工-->
  <!--
  <ExtendedPart
 parentPartFullName="UFIDA.U9.MFG.MO.DiscreteMOUIModel.StartWorkUIFormWebPart"
 extendedPartFullName="Auctus.CustomUI.MOStartUI"
 extendedPartAssemblyName="Auctus.CustomUI.dll">
  </ExtendedPart>-->




  <ExtendedPart
 parentPartFullName="UFIDA.U9.SCM.SD.ShipUIModel.ShipMainUIFormWebPart"
 extendedPartFullName="Auctus.CustomUI.ShipUI"
 extendedPartAssemblyName="Auctus.CustomUI.dll">
  </ExtendedPart>
</WebPartExtend>
