<?xml version="1.0" encoding="utf-8" ?>
<WebPartExtend>
  <!--MRP重排建议页面创建变更单按钮 -->
  <ExtendedPart
 parentPartFullName="UFIDA.U9.SCM.SD.ForecastOrderUIModel.ForecastOrderMainUIFormWebPart"
 extendedPartFullName="Auctus.ForeCast.SV.ForecastOrderUIPlugin"
 extendedPartAssemblyName="Auctus.ForeCast.SV.dll">
  </ExtendedPart>

</WebPartExtend>
